// applies to font rules in fonts.scss
%normal-font {
  font-display: swap;
  font-style: normal;
}

%logo-colors {
  .logo-top {
    fill: $auxiliary-color;
  }

  .logo-middle {
    fill: $primary-color-dark;
  }

  .logo-bottom {
    fill: $secondary-color;
  }
}

%absolutely-center {
  @include position(absolute, 0);
}

%top-section {
  background: #fff;
  padding: ($default-block * 4) 0 $double-block; // 160px

  @include breakpoint(tabile) {
    padding-top: $five-fourths-block * 5; // 250px
  }

  @include breakpoint(mobile) {
    padding-top: $default-block * 7; // 280px;
    padding-bottom: $default-block;
  }
}

%standard-heading {
  color: $primary-color-dark;
  font-size: $fs-normal-plus;
  letter-spacing: 0.02em;
  margin: 0 0 $three-fourths-block;
  text-align: center;
  text-transform: uppercase;
}
