.instagram {
  background: #fff;
  padding: $double-block 0;
  text-align: center;

  .inner-container {
    max-width: 1040px;
  }

  h2 {
    color: $primary-color-dark;
    margin: 0 0 $three-fourths-block;
    text-transform: uppercase;
  }

  .instagram-feed-holder {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;

    li {
      border: solid 1px #e5e5e5;
      margin: 0 1.5% $default-block;
      width: 30%;
    }

    a {
      border: solid #fff $quarter-block;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      transition: background 0.2s;

      &:hover {
        background: #e5e5e5;

        .insta-caption {
          opacity: 1;
        }
      }

      .insta-image-holder {
        background-size: cover;
        justify-content: flex-start;
        margin: 0;
        padding-top: 100%;
        width: 100%;
      }

      .insta-caption {
        @extend %absolutely-center;

        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        opacity: 0;
        padding: $quarter-block;
        text-align: center;
        top: auto;
        transition: opacity 0.2s;
      }
    }
  }

  .text-link {
    border-bottom: solid 1px $secondary-color;
    color: $secondary-color;
    display: inline-block;
    font-size: $fs-normal;
    padding-bottom: 2px;
    transition: all 0.2s;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  @include breakpoint(mobile) {
    .instagram-feed-holder {
      justify-content: center;

      li {
        width: 47%;
      }
    }
  }

  @include breakpoint(mobile-portrait) {
    padding-top: $three-halves-block;
    .instagram-feed-holder {
      li {
        width: 100%;
      }
    }
  }
}
