.biographies {
  @extend %top-section;

  .inner-container {
    max-width: 740px;
  }

  h1 {
    @extend %standard-heading;
  }

  .bio {
    display: flex;
    justify-content: space-between;
    padding: $default-block 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    h3 {
      font-size: 24px;
      letter-spacing: 0.02em;
      margin: 0;
    }

    h4 {
      color: $secondary-color;
      font-size: $fs-small;
      margin: $eighth-block 0 0;
      text-transform: uppercase;
    }

    p {
      font-weight: $font-thin;
      line-height: 1.45;
      margin-top: $quarter-block;
    }
  }

  .image-col, .text-col {
    width: 46.5%;
  }

  .image-outer {
    background: #fff;
    border: solid 1px $neutral-color;
    padding: $quarter-block;
  }

  .image-inner {
    background: $neutral-color;
    padding-top: 100%;
    position: relative;

    img {
      @extend %absolutely-center;
    }
  }

  @include breakpoint(mobile) {
    .bio {
      @include margin(null auto);

      display: block;
      max-width: 350px;
    }

    .image-col, .text-col {
      width: 100%;
    }

    .text-col {
      @include padding(null #{$quarter-block});
      margin-top: $three-fourths-block;
    }
  }
}
