.form-section {
  @extend %top-section;

  .inner-container {
    max-width: 100%;
    position: relative;

    &:before {
      background-color: $auxiliary-color;
      content: '';
      display: block;
      left: 0;
      height: 250px;
      position: absolute;
      right: 0;
      top: calc(50% - 150px);
      width: 100%;
    }
  }

  h1 {
    @extend %standard-heading;
  }

  .form-container-wrapper {
    outline: solid 5px #fff;
    margin: 0 auto;
    position: relative;
    width: 280px;
    z-index: $z-middle;
  }

  .form-container {
    background-color: #fff;
    border: solid 1px #b8b8b8;
    margin: 0 auto;
    max-width: 280px;
    padding-bottom: $half-block;
    position: relative;
    z-index: $z-middle;
  }

  .social-links {
    margin: 0 auto;
    max-width: 420px;
    text-align: center;

    h2 {
      font-size: $fs-normal;
      margin-top: $default-block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      display: inline-block;
      width: 140px;

      a {
        color: $main-text-color;
        display: block;
        padding: $eighth-block $half-block 0;
        transition: all 0.2s;

        svg {
          fill: currentColor;
        }

        &:hover {
          color: $auxiliary-color;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    .social-links {
      ul {
        display: block;
      }

      li {
        display: block;
        margin: $third-block auto;

        &.instagram {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: $eighth-block;
        }
      }
    }
  }
}
