.quotes {
  @extend %top-section;

  .inner-container {
    max-width: 740px;
  }

  h1 {
    @extend %standard-heading;
    margin-bottom: $five-fourths-block;
  }

  .quote {
    margin-bottom: $three-halves-block;
    max-width: 525px;

    p {
      &:first-child {
        span {
          display: inline-block;
          font-size: 125px;
          font-weight: $font-regular;
          line-height: 1px;
          margin-bottom: $quarter-block;
          text-indent: -($five-fourths-block);
          vertical-align: bottom;
        }
      }

      &:nth-last-class(2) {
        color: blue;
      }
    }

    &:nth-child(odd) {
      .attribution {
        color: $secondary-color;
      }

      p {
        &:first-child {
          span {
            color: $secondary-color;
          }
        }
      }
    }

    &:nth-child(even) {
      margin-left: calc(100% - 525px);

      .attribution {
        color: $primary-color-dark;
      }

      p {
        &:first-child {
          span {
            color: $primary-color-dark;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .the-quote {
      font-size: 23px;
      font-weight: $font-thin;
      line-height: 1.4;
      margin: $third-block 0 0;

      &:first-child {
        span {
          margin-left: 0;
        }
      }

      &:last-of-type {
        &:after {
          content: '”';
        }
      }

      span {
        margin-left: -8px;
      }
    }

    .attribution {
      font-weight: $font-bold;
      margin-right: -$half-block;
      margin-top: $quarter-block;
      text-align: right;
    }
  }

  @include breakpoint(850px) {
    .quote {
      &:nth-child(odd), &:nth-child(even) {
        @include margin(null auto);
      }
    }
  }

  @include breakpoint(600px) {
    .quote {
      p.the-quote:first-child {
        span {
          color: $main-text-color;
          font-size: $fs-normal;
          font-weight: $font-thin;
          margin-bottom: 0;
          line-height: 1.4;
          text-indent: -8px;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    .quote {
      padding-left: $half-block + $eighth-block;

      .the-quote {
        font-size: $fs-normal;
      }

      .attribution {
        margin-right: 0;
      }
    }
  }

  @include breakpoint(mobile-portrait) {
    h1 {
      margin-bottom: $three-fourths-block;
    }

    .quote {
      margin-bottom: $default-block;
      padding-left: 0;

      .the-quote {
        font-size: $fs-small;

        span {
          margin-left: -4px;
        }
      }

      p.the-quote:first-child {
        span {
          font-size: $fs-small;
          text-indent: -4px;
        }
      }

      .attribution {
        font-size: $fs-small;
      }
    }
  }
}
