extends _layouts/site

block vars
  - var pageClass = 'home-page'
  - var navType = 'light'
  - var description = 'ThulaSana Home Daycare of Alameda is a fun, nuturing, and stimulating environment filled with exploration and creativity.'
  - var ogTags = {url: 'http://alameda-daycare.com/testimonials', title: 'ThulaSana Home Daycare of Alameda', desc: description, img: 'http://alameda-daycare.com/img/shared/og.jpg', twitterImg: 'http://alameda-daycare.com/img/shared/og-twitter.jpg', type: 'article'}

block content
  section.hero
    .background-frame
    .inner-container
      div
        h1 Work the clay while it is&nbsp;wet!
        a.cta(href='/contact') Contact us now
      span.down-arrow

  section.philosophy
    .sun-holder
      img(src='/img/home/svgs/sun.svg' alt='rotating sun')
    .inner-container
      h2 Our Philosophy
      .content
        p
          | ThulaSana Home Daycare is a fun, nurturing, and stimulating environment filled with exploration and 
          | creativity. Our program places the infant/toddler first, with an emphasis on his or her emotional, mental, 
          | physical, and social development. These goals are achieved by full immersion in art, storytelling, outdoor 
          | exploration, and countless other rich sensory experiences.
        p
          | For us, fundamental education is a priority, key to the proper development of a child. This 
          | includes&mdash;but is not limited to&mdash;manners, compassion, confidence, and self-sufficiency, all of 
          | which contribute to the development of a highly sociable&nbsp;child.
        p
          | Most importantly, ThulaSana Home Daycare is deeply committed to providing a secure and nurturing place for 
          | children to thrive. Our goal is to create an environment where children look forward to returning each 
          | day, to a place at which they are loved and&nbsp;adored. 
      .social
        h3 Follow us
        include _partials/social-links
