ul
  li: a(href='https://www.facebook.com/thulasana.majola' target='_blank')
    include ../img/shared/svgs/facebook-logo.svg
  li: a(href='https://www.care.com/b/l/thulasana-home-daycare/alameda-ca' target='_blank')
    include ../img/shared/svgs/care-logo.svg
