header(class=navType || 'dark')
  nav.inner-container
    ul
      li: a(href='/')
        h1.text-wrapper
          | ThulaSana Home Daycare of Alameda, California
        include ../img/shared/svgs/thulasana-home-daycare-logo.svg
      li: a(href='tel:+1-415-513-2594')
        span.icon
          include ../img/shared/svgs/telephone-icon.svg
        | (415) 513-2594
      li: a(href='/about') About
      li: a(href='/testimonials') Testimonials
      li: a(href='/contact') Contact
