header(class=navType || 'dark')
  nav.inner-container
    ul
      li: a(href='/')
        span.text-wrapper
          span(lang='zu') ThulaSana 
          | Home Daycare of Alameda, California
        include ../img/shared/svgs/thulasana-home-daycare-logo.svg
      li: a(href='tel:+1-415-513-2514')
        span.icon
          include ../img/shared/svgs/telephone-icon.svg
        | (415) 513-2514
      li: a(href='/about') About
      li: a(href='/testimonials') Testimonials
      li: a(href='/contact') Contact
